{% extends "base.html" %}
{% load bootstrap3 staticfiles %}

{% block content %}

    <a href="{% url "core:list" %}">Groups</a>
    &gt;
    Add a group...

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        {% endbuttons %}
    </form>
    <form method="post" id="userform" action="{% url "core:add_user" object.id %}">

        {% csrf_token %}
        <input type="text" id="id_username" name="username">
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        {% endbuttons %}
    </form>
<ul id="users">

</ul>
{% endblock %}

{% block scripts %}
    <script src="{% static "csrf.js" %}"></script>
    <script src="{% static "group_detail.js" %}"></script>
{% endblock %}