{% extends "base.html" %}
{% load bootstrap3 staticfiles %}

{% block content %}

    <a href="{% url 'core:list' %}">Groups</a>
    &gt;
    Edit group...    <a href='/users_data/{{ object.id }}'>View group's commits</a>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        {% endbuttons %}
    </form>
    <table class="table table-bordered table-striped">
        <tbody id="users">
            <!--<ul class="list-group" >-->
                {% for u in object.git_users.all %}
                    {% include "core/_user.html" %}
                {% endfor %}

        </tbody>
    </table>
    <form method="post" id="userform" action="{% url "core:add_user" object.id %}">
        {% csrf_token %}
        <input type="text" id="id_username" name="username">
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Add
            </button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static "csrf.js" %}"></script>
    <script src="{% static "group_detail.js" %}"></script>
{% endblock %}